---
layout: archive
---

{{ content }}

<div id="about-me">
    <p style="font-size: smaller;">I am a PhD student at <a href="https://economics.uc3m.es/" target="_blank" rel="noopener noreferrer">Universidad Carlos III de Madrid (UC3M)</a>. My primary field of research is Labor Economics, with a particular interest in Migration. I will be on the job market in 2025-2026. I am currently visiting <a href="https://www.liser.lu/" target="_blank" rel="noopener noreferrer">LISER</a>.</p>
    <p style="font-size: smaller;"> I co-organise <a href="https://sites.google.com/view/the-economics-of-migration/home" target="_blank" rel="noopener noreferrer">The Economics of Migration Junior Seminar</a>.</p>
</div>


