---
layout: archive
---

{{ content }}

<div id="about-me">
    <p style="font-size: smaller;">I am a PhD student at <a href="https://economics.uc3m.es/" target="_blank" rel="noopener noreferrer">Universidad Carlos III de Madrid</a>
. My main field of research is in Labor Economics, with a particular interest in migration. I will be in the job market in 2025-2026. </p>
    <p style="font-size: smaller;"> I co-organise <a href="https://sites.google.com/view/the-economics-of-migration/home" target="_blank" rel="noopener noreferrer">The Economics of Migration Junior Seminar</a>.</p>
</div>

